$big: 1150px;
$medium: 950px;
$main-wrap: 775px;
$grid-transition: 510px;
$small: 375px;

$gray: rgba(211, 211, 211, 0.521);
$mobile-color: rgb(114, 114, 114);
$orange: rgb(255, 125, 26);
$gray-text: rgb(117, 117, 117);
$company-name: rgb(255, 168, 6);
$product-name: rgba(0, 0, 0, 0.87);
$rebate-color: rgb(255, 237, 224);
$rabate-background: rgb(255, 237, 224);
$add-items: rgba(128, 128, 128, 0.055);
$old-price: rgba(0, 0, 0, 0.247);

@mixin centring(){
    margin: 0 auto 0 auto;
}

@mixin flex-centring(){
    display: flex;
    align-items: center;
}

*, *::after, *::before{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html{
    font-size: 17px;
    font-family: 'Kumbh Sans', sans-serif;
}

.container{
    margin: 0 auto 0 auto;
    width: 85%;
}

.navigation{
    width: 100%;
    @include flex-centring;
    justify-content: space-between;
    min-height: 120px;
    border-bottom: 1px solid $gray;

    &__mobile-menu-container{
        display: none;
    }

    &__mobile-menu-btn{
        display: none;
        margin-left: 19px;
        width: 35px;
        transition: ease-in-out .2s;

        &:hover{
            cursor: pointer;
        }
    
        &__line{
            width: 16px;
            height: 3px;
            background-color: $mobile-color;
            margin: 3px;
        }
    }

    &__logo{
        width: 250px;
    }

    &__menu{
        @include flex-centring;
        justify-self: flex-start;
        width: 100%;
    }

    &__position{
        @include flex-centring();
        justify-content: space-around;
        width: 50%;
    }
    
    &__list{
        list-style-type: none;
        &--option{
            text-decoration: none;
            color: $gray-text;
            font-size: 0.9rem;
            letter-spacing: 0.5px;
            font-weight: 500;
            padding-bottom: 51px;
            border-bottom: 1px solid $gray;
            transition: ease-in-out .2s;
    
            &:hover{
                padding-bottom: 48px;
                font-size: 105%;
                color: $orange;
                border-bottom: 4px solid $orange;
                
            }
        }
    }

    &__settings{
        @include flex-centring;
        justify-content: space-between;
        width: 120px;
        position: relative;

        &__active{
            display: none;
            flex-direction: column;
            position: absolute;
            top: 0;
            right: 0;  
            width: 350px;
            height: 230px;
            background-color: white;
            border-radius: 10px;
            box-shadow: 0 5px 20px 1px;
            transform: translate(50px, 60px);
            z-index: 1000;
            
            &--title{
                padding: 20px;
            }

            &__product-panel{
                padding: 20px;
                display: flex;
                justify-content: space-between;
                align-items: center;

                &--thumbnail{
                    width: 50px;
                    border-radius: 5px;
                }

                &--position{
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;
                    height: 45px;
                }

                &--name{
                    font-size: 17px;
                    color: $gray-text;
                    font-weight: 100;
                }

                &--price{
                    font-size: 17px;
                    color: $gray-text;
                    font-weight: 100;
                }

                &--delete{
                    transition: ease-in-out .1s;
                    &:hover{
                        cursor: pointer;
                        transform: scale(110%);
                    }
                }
            }

            &--toggle-cart-full{
                display: none;
                flex-direction: column;
            }

            &--toggle-cart-empty{
                display: flex;
                justify-content: center;
                align-items: center;
                height: 65%;
                font-size: 18px;
                color: $gray-text;
                font-weight: bold;
            }

            &--checkout{
                margin-left: 25px;
                width: 300px;
                height: 50px;
                border: none;
                background-color: $orange;
                color: white;
                font-size: 15px;
                font-weight: bold;
                border-radius: 10px;
                transition: ease-in-out 0.2s;

                &:hover{
                    cursor: pointer;
                    filter: brightness(120%);
                    transform: scale(105%);
                }
            }
        }
    }

    &__profile{
        margin-top: 2px;

        &--cart{
            transition: ease-in-out .3s;

            &:hover{
                transform: scale(105%);
                filter: brightness(0%);
                cursor: pointer;
            }
        }
        
        

        &--icon{
            width: 50px;
            border-radius: 100%;
            border: 2px solid white;
            transition: ease-in-out .5s;

            &:hover{
                border: 2px solid $orange;
                transform: scale(95%);
                cursor: pointer;
            }
        }
    }
}



.main-content{
    @include centring;
    @include flex-centring;
    margin-top: 5.3rem;
    width: 59.7rem;
    flex-wrap: wrap;
}

.left-section{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 3fr 1fr;
    max-height: 33rem;

    &__mobile-gallery{
        grid-column: 1 / 5;
        grid-row: 1 / 2;

        &__arrow{
            display: none;
        }
    }

    &__main-img{
        width: 26em;
        border-radius: 16px;
        transition: ease-in-out .2s;
        animation: fade-in ease-in-out .2s;

        &:hover{
            opacity: 70%;
            cursor: pointer;
        }
    }

    &__gallery{
        grid-column: 1 / 5;
        grid-row: 2 / 3;
        margin-top: 1.85rem;
        display: flex;
        justify-content: space-between;

        &__img{
            border-radius: 10px;
            width: 6rem;
            transition: ease-in-out .2s;
    
            &:hover{
                opacity: 60%;
                cursor: pointer;
            }
        }
    }
}

.right-section{
    margin-left: 7.3rem;
    width: 26.2rem;
    margin-top: auto;
    margin-bottom: auto;

    &__text{
        margin: 0;
        padding: 0;

        &--company{
            color: $company-name;
            font-size: 0.8rem;
            text-transform: uppercase;
            letter-spacing: 1.6px;
        }

        &--product-name{
            margin-top: 1.1rem;
            font-size: 2.5em;
            color: $product-name;
            font-weight: 700;
        }

        &--description{
            margin-top: 2rem;
            color: $gray-text;
            letter-spacing: 0.5px;
            font-size: 1em;
            font-weight: 100;
            height: 3.5rem;
            display: flex;
            line-height: 1.6;
        }

        &__price-and-discount{
            margin-top: 2.5rem;
            @include flex-centring;

            &--price{
                font-size: 1.7rem;
                font-weight: bold;
            }
            
            &--rabate{
                margin-left: 15px;
                height: 25px;
                width: 48px;
                background-color: $rabate-background;
                border-radius: 5px;
            }

            &--rabate-content{
                margin-top: 0.2rem;
                margin-left: 0.5rem;
                font-size: 1em;
                color: $company-name;
            }

            &--mobile-old-price{
                font-size: 1.25em;
                color: $old-price;
                margin-top: 0.3rem;
                display: none;
            }
        }

        &--old-price{
            font-size: 1.25em;
            color: $old-price;
            margin-top: 0.3rem;
        }

        &__ordering{
            margin-top: 1.8em;
            width: 29em;
            height: 4.2em;
            @include flex-centring;
            justify-content: space-between;

            &__add-items{
                height: 80%;
                width: 14em;
                background-color: $add-items;
                border-radius: 10px;
                @include flex-centring;
                justify-content: space-around;

                &__change{
                    border: none;
                    background: none;
                    transition: ease-in-out .2s;
                
                    &:hover{
                        cursor: pointer;
                        transform: scale(115%);
                    }

                    &--minus{
                        margin-bottom: .4rem;
                        margin-left: .6rem;
                    }

                    &--plus{
                        margin-bottom: .1rem;
                        margin-right: .6rem;
                    }
                }
                
                &__counter{
                    font-size: 1em;
                    font-weight: 700;
                    margin-bottom: .1rem;
                }

            }

            &__add-to-cart{
                background-color: $orange;
                width: 24rem;
                height: 80%;
                border-radius: 10px;
                border: none;
                letter-spacing: 1px;
                @include flex-centring;
                justify-content: center;
                margin-left: 1rem;
                margin-right: 3rem;
                font-size: 0.8em;
                font-weight: 600;
                color: white;
                transition: ease-in-out .5s;

                &:hover{
                    cursor: pointer;
                    filter: brightness(120%);
                    transform: scale(101%);
                }

                &--img{
                    filter: brightness(5);
                    width: 18px;
                    margin-right: 15px;
                }
            }
        }
    }
}

#lightbox{
    position: fixed;
    z-index: 1000;
    top: 0;
    width: 101%;
    height: 100%;
    margin-left: -10px;
    background-color: rgba(0, 0, 0, 0.8);
    display: none;
}

#lightbox.active{
    display: flex;
    justify-content: center;
    align-items: center;
    animation: fade-in ease-in-out 0.3s;
}

#lightbox-img{
    width: 600px;
    animation: scale-up ease-in-out 0.3s;
}

@keyframes fade-in{
    100%{
        opacity: 100%;
    }
    0%{
        opacity: 0%;
    }
}

@keyframes scale-up{
    100%{
        transform: scale(100%);
    }
    0%{
        transform: scale(0%);
    }
}

@media screen and (max-width: $big){
    html{
        font-size: 14px;
    }

    .container{
        width: 65rem;
    }

    .navigation{
        &__logo{
            width: 200px;
        }

        &__menu{
            width: 100%;
        }

        &__list--option{
            margin-left: 20px;
            padding-bottom: 53px;
        }

        &__settings{
            width: 120px;

            &__active{
                margin-right: 50px;
            }
        }
    }

    .right-section__text__price-and-discount{
        padding-top: 20px;
    }
}

@media screen and (max-width: $medium){
    html{
        font-size: 14px
    }

    .container{
        width: 95%;
    }

    .navigation{
        &__logo{
            width: 300px;
        }

        &__settings{
            width: 150px;
        }
    }

    .main-content{
        flex-wrap: wrap;
        justify-content: center;
        width: 100%;
        margin-left: -25px;
    }

    .right-section{  
        margin-left: 5%;
        max-width: 22rem;

        &__text--ordering{
            flex-wrap: wrap;

            &__add-to-cart{
                width: 70%;
            }
        }
    }
}

@media screen and (max-width: $main-wrap){
    html{
        font-size: 18px;
    }

    .container{
        width: 100%;
    }

    .navigation{
        width: 100%;
        padding: 0 20px 0 20px;

        &__logo{
            width: 70%;
        }

        &__menu{
            display: none;
        }

        &__settings{
            width: 100px;
        }

        &__mobile-menu-btn{   
            display: block;
            margin: 0;
            padding: 0;
        }

        &__mobile-menu-container{
            display: none;
            position: absolute;
            left: 0;
            top: 0;
            z-index: 1000;
            width: 100vw;
            height: 160vh;
            background-color: rgba(0, 0, 0, 0.8);
            animation: fade-in ease-in-out 0.5s;
        }

        &__mobile-menu{
            background-color: white;
            top: 0;
            left: 0;
            height: 100vh;
            width: 200px;
            padding: 20px;
            animation: move-in ease-in-out 0.4s;

            @keyframes move-in{
                0%{
                    transform: translateX(-200px);
                }
            }

            &__exit{
                background: none;
                border: none;
                margin-bottom: 40px;
                transform: scale(110%);
                transition: ease-in-out 0.2s;

                &:hover{
                    cursor: pointer;
                    transform: scale(125%);
                }
            }

            &__list{
                list-style: none;
                font-weight: bold;

                &--item{
                    margin-bottom: 25px;
                    transition: ease-in-out 0.2s;

                    &:hover{
                        cursor: pointer;
                        transform: scale(105%);
                    }
                }
            }
        }
    }

    .main-content{
        margin: 0;
        padding-top: 5rem;
    }
 

    .left-section{
        @include centring;
        margin: 0;
        padding: 0;
    }

    .right-section{
        @include centring;
        margin-top: 5rem;
        height: 30rem;
        max-width: 26rem;
    }

    .ordering__add-to-cart{
        margin-top: 1rem;
        margin-left: 0;
    }

    #lightbox-img{
        width: 90%;
    }
}

@media screen and (max-width: $grid-transition){
    html{
        font-size: 16px;
    }

    .container{
        width: 100vw;
    }

    .navigation{
        border: none;
        min-height: 60px;
        width: 100vw;
    }

    .main-content{
        padding-top: 0;
        width: 100%;
    }

    .left-section{
        width: 100vw;
        @include flex-centring;
        

        &__mobile-gallery{
            width: 100vw;
            position: relative;

            &__arrow{
                background-color: white;
                height: 45px;
                width: 45px;
                border-radius: 50%;
                display: flex;
                justify-content: center;
                align-items: center;
                position: absolute;
                transition: ease-in-out .2s;

                &:hover{
                    transform: scale(95%);
                    cursor: pointer;
                }

                &--left{
                    top: 40%;
                    left: 10px;
                }

                &--right{
                    top: 40%;
                    right: 10px;
                }
            }
        }

        &__main-img{
            border-radius: 0;
            width: 100%;
            height: 300px;
            object-fit: cover;
            @include flex-centring;
            border: none;
    
            &:hover{
                border: none;
                opacity: 1;
            }
        }

        &__gallery{
            display: none;
        }
    }

    .right-section{
        margin: 1.6rem;
        flex-wrap: wrap;
        

        &__text{
            &--product-name{
                margin-top: 1rem;
                font-size: 1.8rem;
            }

            &--description{
                margin-top: 1.2rem;
                line-height: 1.7rem;
            }

            &__price-and-discount{
                margin-top: 4.9rem;
                justify-content: flex-start;
                
                &--price{
                    font-size: 2rem;
                }

                &--rabate{
                    font-size: 1.1rem;
                }

                &--mobile-old-price{
                    display: flex;
                    font-size: 1.1rem;
                    color: rgba(0, 0, 0, 0.247);
                    font-weight: 600;
                    margin-bottom: 0.4rem;
                    width: 100%;
                    justify-content: flex-end;
                }
            }

            &__ordering{
                margin-top: 1.5rem;
                flex-direction: column;
                height: 8.6rem;
                align-items: center;
                align-content: center;
                margin-left: 0px;
                padding-left: 0px;
                width: 100%;

                &__add-items{
                    padding: 10px;
                    height: 3.8rem;
                    width: 100%;
                }

                &__add-to-cart{
                    height: 3.8rem;
                    width: 100%;
                    margin-right: 0;
                    margin-left: 0px;
                    font-size: 1rem;
                    letter-spacing: 0;
                }
            }
        }
    }

}

@media screen and (max-width: $small){
    html{
        font-size: 15px;
    }

    .container{
        width: 100%;
        flex-wrap: wrap;
    }

    .navigation{
        padding: 10px;
        border: none;
        min-height: 60px;
        
        &__mobile-menu-btn{
            margin-top: 2px;
            display: block;
        }

        &__logo{
            width: 70%;
        }

        &__settings{
            width: 80px;
            margin: 0;
            padding: 0;
        }

        &__profile--icon{
            width: 40px;
            margin: 0;
            padding: 0;
        }
    }

    .main-content{
        flex-wrap: wrap;
    }

    .left-section{
        width: 100%;
        display: flex;

        &__mobile-gallery__arrow--left{
            left: 15px;
        }

        &__mobile-gallery__arrow--right{
            right: 0;
        }

        &__main-img{
            justify-content: stretch;
            border-radius: 0;
            width: 100%;
            height: 300px;
            object-fit: cover;
            align-items: center;
    
            &:hover{
                border: none;
                opacity: 100%;
                cursor: pointer;
            }
        }
    } 
}

.active{
    display: block;
}

.deactive{
    display: none;
}
